In [1]:
import pandas as pd

In [44]:
df = pd.read_csv("Data_Exploration_Integration_El_Paso.csv")

C:\Users\tobby\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (18,32,37,38,39,40,42,70,77,80,103,107,108,109,110,115,131,134) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
df

,STATE_CODE_001,STRUCTURE_NUMBER_008,EVALUATION_YEAR,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE,CAT10,CAT23,CAT29,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA
0,8,2.12E+13,1998,1,6,1,0,0,24.0,41,...,NaN,90.5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,2.12E+13,1999,1,6,1,0,0,24.0,41,...,NaN,90.5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,2.12E+13,2000,1,6,1,0,0,24.0,41,...,NaN,90.5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,CALHAN-8TH ST.,1998,1,5,1,0,0,24.0,41,...,NaN,97.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,CALHAN-8TH ST.,1999,1,5,1,0,0,24.0,41,...,NaN,96.9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8527,8,TELL-8-TUN,2005,2,4,1,0,0,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8528,8,TELL-8-TUN,2006,2,4,1,0,0,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8529,8,TELL-8-TUN,2007,2,4,1,0,0,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8530,8,TELL-8-TUN,2008,2,4,1,0,0,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8531,8,TELL-8-TUN,2009,2,4,1,0,0,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
Sufficiency Rating        19.250000
Year Built 27             28.250000
ADT 29                 10994.750000
Operating Rating 64       35.700001
Design Load 31             5.000000
Lanes on 28A               2.000000
Deck Area                729.250000
Apr Rdwy Width 32         14.249335
Horiz Clr 47               4.534250
Max Span 48

SyntaxError: invalid syntax (<ipython-input-46-79af7c4175e0>, line 1)

In [66]:
new_df = df[['EVALUATION_YEAR', 'OPERATING_RATING_064', 'SUFFICIENCY_RATING', 'YEAR_BUILT_027', 'ADT_029', 'DESIGN_LOAD_031',
             'TRAFFIC_LANES_ON_028A', 'DECK_AREA', 'APPR_WIDTH_MT_032', 'HORR_CLR_MT_047', 'MAX_SPAN_LEN_MT_048']]

In [67]:
new_df['OPERATING_RATING_064']

0       36.0
1       36.0
2       36.0
3       36.0
4       36.0
        ...
8527     NaN
8528     NaN
8529     NaN
8530     NaN
8531     NaN
Name: OPERATING_RATING_064, Length: 8532, dtype: float64

In [68]:
import numpy as np

for i, row in new_df.iterrows():
#     print(row['OPERATING_RATING_064'][1])
    if np.isnan(row['OPERATING_RATING_064']):
        new_df['OPERATING_RATING_064'][i] = new_df['OPERATING_RATING_064'][i - 1]
        
    if np.isnan(row['SUFFICIENCY_RATING']):
        new_df['SUFFICIENCY_RATING'][i] = new_df['SUFFICIENCY_RATING'][i - 1]

C:\Users\tobby\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\tobby\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\tobby\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
new_df

,EVALUATION_YEAR,OPERATING_RATING_064,SUFFICIENCY_RATING,YEAR_BUILT_027,ADT_029,DESIGN_LOAD_031,TRAFFIC_LANES_ON_028A,DECK_AREA,APPR_WIDTH_MT_032,HORR_CLR_MT_047,MAX_SPAN_LEN_MT_048
0,1998,36.0,90.5,1948,50,NaN,2,NaN,6.7,6.5,3.0
1,1999,36.0,90.5,1948,50,NaN,2,NaN,6.7,6.5,3.0
2,2000,36.0,90.5,1948,50,NaN,2,NaN,6.7,6.5,3.0
3,1998,36.0,97.0,1949,428,0,2,NaN,7.6,10.9,7.3
4,1999,36.0,96.9,1949,955,0,2,NaN,7.6,10.9,7.3
...,...,...,...,...,...,...,...,...,...,...,...
8527,2005,87.3,82.0,1900,28,NaN,0,NaN,NaN,4.8,4.9
8528,2006,87.3,82.0,1900,28,NaN,0,NaN,NaN,4.8,74.1
8529,2007,87.3,82.0,1900,28,NaN,0,NaN,NaN,4.8,74.1
8530,2008,87.3,82.0,1900,28,NaN,0,NaN,NaN,4.8,74.1
8531,2009,87.3,82.0,1900,28,NaN,0,NaN,NaN,4.8,74.1

In [70]:
new_noNaN_df = new_df.dropna(axis='columns')

In [71]:
new_noNaN_df

,EVALUATION_YEAR,OPERATING_RATING_064,SUFFICIENCY_RATING,YEAR_BUILT_027,ADT_029,TRAFFIC_LANES_ON_028A,HORR_CLR_MT_047,MAX_SPAN_LEN_MT_048
0,1998,36.0,90.5,1948,50,2,6.5,3.0
1,1999,36.0,90.5,1948,50,2,6.5,3.0
2,2000,36.0,90.5,1948,50,2,6.5,3.0
3,1998,36.0,97.0,1949,428,2,10.9,7.3
4,1999,36.0,96.9,1949,955,2,10.9,7.3
...,...,...,...,...,...,...,...,...
8527,2005,87.3,82.0,1900,28,0,4.8,4.9
8528,2006,87.3,82.0,1900,28,0,4.8,74.1
8529,2007,87.3,82.0,1900,28,0,4.8,74.1
8530,2008,87.3,82.0,1900,28,0,4.8,74.1
8531,2009,87.3,82.0,1900,28,0,4.8,74.1

In [72]:
# Function to insert row in the dataframe 
def Insert_row(row_number, df, row_value): 
    # Starting value of upper half 
    start_upper = 0
   
    # End value of upper half 
    end_upper = row_number 
   
    # Start value of lower half 
    start_lower = row_number 
   
    # End value of lower half 
    end_lower = df.shape[0] 
   
    # Create a list of upper_half index 
    upper_half = [*range(start_upper, end_upper, 1)] 
   
    # Create a list of lower_half index 
    lower_half = [*range(start_lower, end_lower, 1)] 
   
    # Increment the value of lower half by 1 
    lower_half = [x.__add__(1) for x in lower_half] 
   
    # Combine the two lists 
    index_ = upper_half + lower_half 
   
    # Update the index of the dataframe 
    df.index = index_ 
   
    # Insert a row at the end 
    df.loc[row_number] = row_value 
    
    # Sort the index labels 
    df = df.sort_index() 
   
    # return the dataframe 
    return df

In [74]:
len(new_noNaN_df.index)

8532

In [87]:
new_noNaN_df.iloc[0]

EVALUATION_YEAR          1998.0
OPERATING_RATING_064       36.0
SUFFICIENCY_RATING         90.5
YEAR_BUILT_027           1948.0
ADT_029                    50.0
TRAFFIC_LANES_ON_028A       2.0
HORR_CLR_MT_047             6.5
MAX_SPAN_LEN_MT_048         3.0
Name: 0, dtype: float64

In [81]:
holding_df = pd.DataFrame(columns=new_noNaN_df.columns)
holding_df

Empty DataFrame
Columns: [EVALUATION_YEAR, OPERATING_RATING_064, SUFFICIENCY_RATING, YEAR_BUILT_027, ADT_029, TRAFFIC_LANES_ON_028A, HORR_CLR_MT_047, MAX_SPAN_LEN_MT_048]
Index: []

In [93]:
num_rows = len(new_noNaN_df.index)

start_year = 1998
end_year = 2019

current_year = start_year

idx = 0

while (idx < num_rows):
#     holding_df = holding_df.append(new_noNaN_df.iloc[idx])
#     idx += 1

    print(idx)
    if new_noNaN_df['EVALUATION_YEAR'][idx] == current_year:
        holding_df = holding_df.append(new_noNaN_df.iloc[idx])
        relevant_row = new_noNaN_df.iloc[idx]
        current_year += 1
        idx += 1
    elif new_noNaN_df['EVALUATION_YEAR'][idx] != current_year:
        while 
        relevant_row_copy = relevant_row
        relevant_row_copy['EVALUATION_YEAR'] = current_year
        
        holding_df = holding_df.append(relevant_row_copy)
        
        current_year += 1
        
#         if current_year == 1998

#     if new_noNaN_df['EVALUATION_YEAR'][idx] != current_year:
        
#         if new_noNaN_df['EVALUATION_YEAR'][idx - 1] 

#     if current_year == 1998 and new_noNaN_df['EVALUATION_YEAR'][idx] > 1998: 
#         holding_df = holding_df.append(new_noNaN_df.iloc[idx])

#     if current_year == 1998 and new_noNaN_df['EVALUATION_YEAR'][idx] != 1998:
#         temp_row = new_no_NaN_df[idx]
#         holding_df.append(new_no_NaN_df[idx])
#     if new_noNaN_df['EVALUATION_YEAR'][idx] != current_year

0
1
2
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

C:\Users\tobby\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

KeyboardInterrupt:

In [91]:
holding_df

,EVALUATION_YEAR,OPERATING_RATING_064,SUFFICIENCY_RATING,YEAR_BUILT_027,ADT_029,TRAFFIC_LANES_ON_028A,HORR_CLR_MT_047,MAX_SPAN_LEN_MT_048
0,1998.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
1,1999.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
2,2000.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
3,1998.0,36.0,97.0,1949.0,428.0,2.0,10.9,7.3
4,1999.0,36.0,96.9,1949.0,955.0,2.0,10.9,7.3
...,...,...,...,...,...,...,...,...
8527,2005.0,87.3,82.0,1900.0,28.0,0.0,4.8,4.9
8528,2006.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
8529,2007.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
8530,2008.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
8531,2009.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1

In [63]:
start_year = 1998
end_year = 2019

current_year = start_year

for i, row in new_noNaN_df.iterrows():
    
    if current_year == 1998 and row['EVALUATION_YEAR'] != 1998:
        
        
    
    if row['EVALUATION_YEAR'] != current_year:
        Insert_row(i, new_noNaN_df, row)
    
    if current_year > end_year:
        current_year = start_year

C:\Users\tobby\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [64]:
new_noNaN_df

,EVALUATION_YEAR,OPERATING_RATING_064,SUFFICIENCY_RATING,YEAR_BUILT_027,ADT_029,TRAFFIC_LANES_ON_028A,HORR_CLR_MT_047,MAX_SPAN_LEN_MT_048
0,1998.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
1,1999.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
2,2000.0,36.0,90.5,1948.0,50.0,2.0,6.5,3.0
3,1998.0,36.0,97.0,1949.0,428.0,2.0,10.9,7.3
4,1999.0,36.0,96.9,1949.0,955.0,2.0,10.9,7.3
...,...,...,...,...,...,...,...,...
16550,2005.0,87.3,82.0,1900.0,28.0,0.0,4.8,4.9
16551,2006.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
16552,2007.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
16553,2008.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1
8531,2009.0,87.3,82.0,1900.0,28.0,0.0,4.8,74.1

In [65]:
new_noNaN_df.to_csv('test.csv')